// COLOR VARIABLES
$color-primary: #29C065;
$color-light: #F6FEFF;
$color-dark: #1E1E1E;
$color-dark-2: #2D2D2D;

$color-grey-light-1: #d6d6d6;
$color-grey-light-2: #C6C6C6;
$color-grey-light-3: #DFDFDF;

// FONT VARIABLES
$font-primary: 'Montserrat', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 43.75em;    // 700px;
$bp-small: 37.5em;    // 600px;
$bp-smallest: 31.25em;    // 500px;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: $font-primary;
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
    background-color: $color-light;

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 37.5%;
    }


}

body {
    font-family: $font-primary;
    color: $color-dark;
    font-weight: 300;
    line-height: 1.6;
    overflow-x: hidden;
}

.container{
    display: grid;
    grid-template-rows: minmax(350px, 30vw) repeat(2, minmax(min-content, max-content));
    grid-template-columns: minmax(6rem, 1fr) repeat(8 , minmax(min-content,1fr)) minmax(6rem, 1fr); 

    @media only screen and (max-width: $bp-large) {
        // grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
        grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content,1fr)) minmax(6rem, 1fr);
    }

}
