.header{
    grid-column: 1/-1;
    grid-row: 1/2;

    background-image: url('../../dist/images/heroImage.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &__nav{
        height: 130px;
        background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );

        .logo{
            padding-top: 1rem;
            padding-left: 1rem;
        }

    }

    .search{
        display: grid;
        background-color: white;
        border-radius: 50px;
        width: 62rem;
        height: 6.5rem;
        grid-template-columns: max-content 1fr minmax(min-content, max-content);
        box-shadow: 0 5px 11px 3px rgba(0,0,0,0.25);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        &__theme{
            margin-top: .75rem;
            position: relative;
            
            &::after{
                content: "";
                margin-left: 1rem;
                background: $color-grey-light-3;
                position: absolute;
                top: 3px;
                right: -.5rem;
                height: 70%;
                width: 2px;            
            }

            &--ul{
                position: absolute;
                width: 35rem;
                background-color: white;
                list-style: none;
                font-size: 1.5rem;
                font-weight: 500;
                padding: 2rem 1rem;
                border-bottom-left-radius: 23px;
                border-bottom-right-radius: 23px;
                box-shadow: 0 5px 11px 3px rgba(0,0,0,0.03);
                margin-top: 1.6rem;
                margin-left: 1.6rem;
            }

            &--li{
                padding: .5rem 1rem;
                cursor: pointer;
                transition: all .2s;

                &:hover{
                    background-color: $color-grey-light-2;
                }

            }

            img{
                display: inline-block;
                width: 24px;
                margin-top: 10px;            
                height: auto;
                vertical-align: middle;
            }
        }

        &__buttonBox--hidden{
            padding-left: 1.2rem;
            overflow: hidden;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
        }
        &__buttonBox{
            background-color: $color-primary;
            height: 10.5rem;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            margin-top: -2rem;
            cursor: pointer;
            transition: all .2s;

         

            img{
                padding: 3rem;
                // padding-bottom: 5rem;
                margin-top: 5px;
                transition: all .2s;
            }

            &:hover{
                transform: scale(1.2);

                img{
                    transform: scale(0.9);
                }
            }
        }

        &__inputBox{
            height: 100%;
        }

        &__input{
            height: 100%;
            width: 100%;
            border: none;
            padding-left: 2rem;
            font-family: $font-primary;
            font-weight: 500;
            font-size: 1.5rem;

            &:focus{
                outline: none;
            }

            &::placeholder, &:placeholder-shown{
                font-family: $font-primary;
                font-weight: 500;
                font-size: 1.5rem;
                opacity: .5;
            }
        }
    }
}

