.logo{
    font-size: 2.8rem;
    color: white;

    span{
        color: $color-primary;
    }
}

.search__theme--text{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: 2rem;
    margin-top: 1.1rem;
    color: $color-dark;
    font-size: 1.8rem;
    font-weight: 500;

    @media only screen and (max-width: $bp-largest){
        margin-top: 0.9rem;
    }


    @media only screen and (max-width: $bp-small){
        margin-top: 1.8rem;
    }

    @media only screen and (max-width: 350px){
        font-size: 1.5rem;
    }


}

.heading-1{
    font-size: 2.9rem;
}

.list__id{
    font-size: 1rem;
    color: $color-grey-light-1;
    font-weight: bold;
}

.list__themes{
    font-size: 1.3rem;
    font-weight: bold;
    color: $color-primary;
}

.list__location{
    font-size: 1.4rem;
    font-weight: 500;
}